.ingredients
  display: flex
  flex-direction: column
  width: 100%
  margin-bottom: 1rem

.input-area
  display: flex
  flex-direction: column
  justify-content: center
  height: 100%
  margin-right: 3rem

.mui-input
  margin: 10px 0