.container
  position: fixed
  display: flex
  flex-direction: column
  width: 100%
  height: 90vh
  bottom: 0

.recipe-area
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  height: 100%
  margin-top: 1rem